body {
    background: #121212;
    color: white;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: #1f1f1f;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

input, select, button {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

button {
    background: #4CAF50;
    color: white;
    cursor: pointer;
}